/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  font-size:20px;
}

h1 {
  font-style: italic;
}

.headercolor {
  background-color: lightgrey;
}

#displaySearchedURLs {
  background-color: coral;
}

#totalFetchedLinks {
  background-color: lightcoral;
  font-size: 17px;
  padding: 10px;
}

.displayMatchedURLs {
  background-color: violet;
  font-size: 25px;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.column{
  float: left;
  width: 33%;
}

.loader {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid skyblue;
  border-bottom: 16px solid skyblue;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*https://html-online.com/articles/dynamic-scroll-back-top-page-button-javascript/*/
#back2Top {
    width: 60px;
    line-height: 60px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 40px;
    background-color: green/*#DDD*/;
    color: orange/*#555*/;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: darkgreen/*#DDF*/;
    color: orange/*#000*/;
}

/* The snackbar - position it at the bottom and in the middle of the screen */ /*https://www.w3schools.com/howto/howto_js_snackbar.asp*/
#matchurlcountsnackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#matchurlcountsnackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}


@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
  
