/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  font-size:20px;
}

h1 {
  font-style: italic;
}

.headercolor {
  background-color: lightgrey;
}

#displaySearchedURLs {
  background-color: coral;
}

#totalFetchedLinks {
  background-color: lightcoral;
  font-size: 17px;
  padding: 10px;
}

.displayMatchedURLs {
  background-color: violet;
  font-size: 25px;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.column{
  float: left;
  width: 33%;
}

.loader {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid skyblue;
  border-bottom: 16px solid skyblue;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*https://html-online.com/articles/dynamic-scroll-back-top-page-button-javascript/*/
#back2Top {
    width: 60px;
    line-height: 60px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 40px;
    background-color: green/*#DDD*/;
    color: orange/*#555*/;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: darkgreen/*#DDF*/;
    color: orange/*#000*/;
}