/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  font-size:20px;
}

h1 {
  font-style: italic;
}

#fetchTime{
  padding-left: 350px;
}

#requestStatus {
  padding-left: 370px;
}

.headercolor {
  background-color: lightgrey;
}

#displaySearchedURLs {
  background-color: coral;
}

#totalFetchedLinks {
  background-color: lightcoral;
}

.displayMatchedURLs {
  background-color: violet;
  font-size: 25px;
}

